In [198]:
def dataManipulation(dataFrame, movingAverage, groupList = None, aggColumn = None, aggFunc = 'mean', sortList = None, ascending = True):
    import math
    
    if (sortList != None):
        sortedDataFrame = dataFrame.sort_values(sortList, ascending = ascending, inplace = False)
    else:
        sortedDataFrame = dataFrame
        
    if (groupList != None):
        if (aggColumn != None):
            groupedDataFrame = sortedDataFrame.groupby(groupList).agg(aggFunc)[aggColumn].reset_index()
        else:
            groupedDataFrame = sortedDataFrame.groupby(groupList).agg(aggFunc).reset_index()
    else:
        groupedDataFrame = sortedDataFrame

    def movingAverageCalculation(sameGroup):
        updownRange = math.floor(movingAverage / 2)
        movingAverageList = []
        for i in range(sameGroup[0], sameGroup[len(sameGroup)-1] + 1):
            perMovingAverage = [groupedDataFrame[aggColumn][i]]
            lengthCount = 1
            for j in range(1, updownRange + 1):
                if (i - j > sameGroup[0]):
                    perMovingAverage += [groupedDataFrame[aggColumn][i - j]]
                    lengthCount += 1
                if (i + j < sameGroup[len(sameGroup) - 1]):
                    perMovingAverage += [groupedDataFrame[aggColumn][i + j]]
                    lengthCount += 1
            movingAverageList += [sum(perMovingAverage) / lengthCount]
        return movingAverageList

    movingAverageTotalList = []
    groupingBoolean = True
    for i in range(0, len(groupedDataFrame) - 1):
        tempList1 = []
        tempList2 = []
        for j in range(0, len(groupList)):
            tempList1 += groupedDataFrame[groupList[j]][i]
            tempList2 += groupedDataFrame[groupList[j]][i + 1]
        if (groupingBoolean == True):
            sameGroup = [i]
        if (tempList1 == tempList2 and i == len(groupedDataFrame) - 2):
            movingAverageTotalList += movingAverageCalculation(sameGroup)
            groupingBoolean = True
        elif (tempList1 == tempList2):
            sameGroup += [i + 1]
            groupingBoolean = False
        else:
            if (i == len(groupedDataFrame) - 2):
                movingAverageTotalList += movingAverageCalculation(sameGroup)
                sameGroup = [len(groupedDataFrame) - 1]
                movingAverageTotalList += movingAverageCalculation(sameGroup)
            else:
                movingAverageTotalList += movingAverageCalculation(sameGroup)
            groupingBoolean = False

    groupedDataFrame['MA'] = movingAverageTotalList
    result = groupedDataFrame
    return result

In [29]:
import pandas as pd
selloutData = pd.read_csv("./Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")
selloutData["YEARWEEK"] = selloutData["YEARWEEK"].astype(str)
selloutData["YEAR"] = selloutData["YEARWEEK"].str[0:4]
selloutData["WEEK"] = selloutData["YEARWEEK"].str[4:]
refinedSelloutData = selloutData[selloutData["WEEK"].astype(int) <= 52]
refinedSelloutData.tail()

       REGIONID    PRODUCT YEARWEEK      QTY  YEAR WEEK
124653      A10  PRODUCT60   201630    824.0  2016   30
124654      A10  PRODUCT56   201630    275.0  2016   30
124655      A10  PRODUCT61   201630      0.0  2016   30
124656      A10  PRODUCT12   201630  15021.0  2016   30
124657      A10   PRODUCT1   201630    568.0  2016   30

In [87]:
groupKey = ['REGIONID','PRODUCT','YEAR']
sortKey = ['REGIONID','PRODUCT', 'YEARWEEK']

In [69]:
groupKey[0]

'REGIONID'

In [197]:
selloutData['QTY'][[1]]

1    22275.0
Name: QTY, dtype: float64

In [199]:
dataManipulation(refinedSelloutData, 33, groupList = groupKey, aggColumn='QTY', sortList=sortKey)

     REGIONID    PRODUCT  YEAR            QTY           MA
0         A00  PRODUCT34  2014     275.961538   275.961538
1         A00  PRODUCT34  2015      86.634615   275.961538
2         A00  PRODUCT34  2016      36.576923   275.961538
3         A00  PRODUCT58  2014       2.673077   275.961538
4         A00  PRODUCT58  2015       5.711538   275.961538
5         A00  PRODUCT58  2016     307.365385   275.961538
6         A00  PRODUCT59  2014   27418.692308   275.961538
7         A00  PRODUCT59  2015   52240.846154   275.961538
8         A00  PRODUCT59  2016   28213.173077   275.961538
9         A01   PRODUCT1  2014    8622.461538   275.961538
10        A01   PRODUCT1  2015    6384.788462   275.961538
11        A01   PRODUCT1  2016    2131.076923   275.961538
12        A01  PRODUCT12  2014  169397.826923   275.961538
13        A01  PRODUCT12  2015  195479.884615   275.961538
14        A01  PRODUCT12  2016  225598.500000   275.961538
15        A01  PRODUCT14  2014   12495.769231   275.961538
16        A01  PRODUCT14  2015   18622.923077   275.961538
17        A01  PRODUCT14  2016   22567.307692   275.961538
18        A01  PRODUCT15  2014    5076.769231   275.961538
19        A01  PRODUCT15  2015    4830.211538   275.961538
20        A01  PRODUCT15  2016    4359.192308   275.961538
21        A01  PRODUCT16  2014    1208.192308   275.961538
22        A01  PRODUCT16  2015    1450.826923   275.961538
23        A01  PRODUCT16  2016    1524.538462   275.961538
24        A01  PRODUCT19  2014    2588.711538   275.961538
25        A01  PRODUCT19  2015    3582.730769   275.961538
26        A01  PRODUCT19  2016    3845.884615   275.961538
27        A01   PRODUCT2  2014     376.961538   275.961538
28        A01   PRODUCT2  2015   19318.096154   275.961538
29        A01   PRODUCT2  2016   48481.326923   275.961538
...       ...        ...   ...            ...          ...
2352      A68  PRODUCT58  2014       2.942308   275.961538
2353      A68  PRODUCT58  2015       0.692308   275.961538
2354      A68  PRODUCT58  2016       1.346154   275.961538
2355      A68  PRODUCT59  2014    5558.750000   275.961538
2356      A68  PRODUCT59  2015   11542.365385   275.961538
2357      A68  PRODUCT59  2016    6239.403846   275.961538
2358      A69  PRODUCT34  2014     234.307692   275.961538
2359      A69  PRODUCT34  2015      88.076923   275.961538
2360      A69  PRODUCT34  2016     177.326923   275.961538
2361      A69  PRODUCT58  2014       1.192308   275.961538
2362      A69  PRODUCT58  2015       3.961538   275.961538
2363      A69  PRODUCT58  2016       8.365385   275.961538
2364      A69  PRODUCT59  2014    1570.730769   275.961538
2365      A69  PRODUCT59  2015    9655.673077   275.961538
2366      A69  PRODUCT59  2016   13596.500000   275.961538
2367      A70  PRODUCT34  2014    1455.269231   275.961538
2368      A70  PRODUCT34  2015    2764.115385   275.961538
2369      A70  PRODUCT34  2016    2280.615385   275.961538
2370      A70  PRODUCT58  2014      14.384615   275.961538
2371      A70  PRODUCT58  2015      38.038462   275.961538
2372      A70  PRODUCT58  2016     129.769231   275.961538
2373      A70  PRODUCT59  2014   27002.326923   275.961538
2374      A70  PRODUCT59  2015   78249.230769   275.961538
2375      A70  PRODUCT59  2016  102784.307692   275.961538
2376      A77   PRODUCT1  2014    2262.653846   275.961538
2377      A77   PRODUCT1  2015    3030.019231   275.961538
2378      A77   PRODUCT1  2016    3375.326923   275.961538
2379      A77  PRODUCT12  2014    2035.788462   275.961538
2380      A77  PRODUCT12  2015    3540.980769   275.961538
2381      A77  PRODUCT12  2016    4837.153846  4837.153846

[2382 rows x 5 columns]

In [84]:
dataManipulation(selloutData, 5, groupList = groupKey, aggColumn='QTY', sortList=sortKey)

    REGIONID    PRODUCT            QTY             MA
0        A00  PRODUCT34     132.445860     132.445860
1        A00  PRODUCT58     105.235669     105.235669
2        A00  PRODUCT59   36086.547771   36086.547771
3        A01   PRODUCT1    5716.726115    5716.726115
4        A01  PRODUCT12  197052.777070  197052.777070
5        A01  PRODUCT14   17934.738854   17934.738854
6        A01  PRODUCT15    4759.554140    4759.554140
7        A01  PRODUCT16    1392.394904    1392.394904
8        A01  PRODUCT19    3335.140127    3335.140127
9        A01   PRODUCT2   22769.891720   22769.891720
10       A01  PRODUCT20      62.955414      62.955414
11       A01  PRODUCT33   11919.828025   11919.828025
12       A01  PRODUCT34  108633.229299  108633.229299
13       A01   PRODUCT4   25851.547771   25851.547771
14       A01  PRODUCT47   10998.159236   10998.159236
15       A01  PRODUCT56    6296.229299    6296.229299
16       A01  PRODUCT57    6804.643312    6804.643312
17       A01  PRODUCT58   27346.216561   27346.216561
18       A01  PRODUCT59  642760.585987  642760.585987
19       A01   PRODUCT6     800.222930     800.222930
20       A01  PRODUCT60       0.636943       0.636943
21       A01  PRODUCT62   11378.993631   11378.993631
22       A01  PRODUCT63   47715.101911   47715.101911
23       A01   PRODUCT7    2080.101911    2080.101911
24       A01  PRODUCT75   30013.961783   30013.961783
25       A01   PRODUCT8     186.719745     186.719745
26       A02   PRODUCT1     155.331210     155.331210
27       A02  PRODUCT12    8995.910828    8995.910828
28       A02  PRODUCT14    1797.044586    1797.044586
29       A02  PRODUCT16      23.509554      23.509554
..       ...        ...            ...            ...
764      A65   PRODUCT1      62.388535      62.388535
765      A65  PRODUCT12    1114.828025    1114.828025
766      A65  PRODUCT14      16.834395      16.834395
767      A65  PRODUCT33     122.942675     122.942675
768      A65  PRODUCT34    1780.127389    1780.127389
769      A65  PRODUCT40       9.554140       9.554140
770      A65  PRODUCT47      23.089172      23.089172
771      A65  PRODUCT56      88.203822      88.203822
772      A65  PRODUCT57      91.165605      91.165605
773      A65  PRODUCT58     181.369427     181.369427
774      A65  PRODUCT59   12114.452229   12114.452229
775      A65  PRODUCT60      82.159236      82.159236
776      A65  PRODUCT62     187.605096     187.605096
777      A66  PRODUCT34     176.936306     176.936306
778      A66  PRODUCT58       4.789809       4.789809
779      A66  PRODUCT59    3788.566879    3788.566879
780      A67  PRODUCT34     703.484076     703.484076
781      A67  PRODUCT58      40.796178      40.796178
782      A67  PRODUCT59   21489.286624   21489.286624
783      A68  PRODUCT34     290.184713     290.184713
784      A68  PRODUCT58       1.649682       1.649682
785      A68  PRODUCT59    7785.178344    7785.178344
786      A69  PRODUCT34     166.184713     166.184713
787      A69  PRODUCT58       4.611465       4.611465
788      A69  PRODUCT59    8320.515924    8320.515924
789      A70  PRODUCT34    2165.585987    2165.585987
790      A70  PRODUCT58      61.496815      61.496815
791      A70  PRODUCT59   69471.617834   69471.617834
792      A77   PRODUCT1    2890.745223    2890.745223
793      A77  PRODUCT12    3473.324841    3473.324841

[794 rows x 4 columns]

In [121]:
sortedData

       REGIONID    PRODUCT YEARWEEK      QTY  YEAR WEEK
298         A00  PRODUCT34   201401    661.0  2014   01
1757        A00  PRODUCT34   201402    679.0  2014   02
3125        A00  PRODUCT34   201403    578.0  2014   03
205         A00  PRODUCT34   201404    532.0  2014   04
4369        A00  PRODUCT34   201405    516.0  2014   05
4313        A00  PRODUCT34   201406    423.0  2014   06
6288        A00  PRODUCT34   201407    407.0  2014   07
6403        A00  PRODUCT34   201408    364.0  2014   08
5158        A00  PRODUCT34   201409    470.0  2014   09
7437        A00  PRODUCT34   201410    538.0  2014   10
10123       A00  PRODUCT34   201411    369.0  2014   11
8844        A00  PRODUCT34   201412    352.0  2014   12
10813       A00  PRODUCT34   201413    354.0  2014   13
11274       A00  PRODUCT34   201414    312.0  2014   14
12128       A00  PRODUCT34   201415    295.0  2014   15
13437       A00  PRODUCT34   201416    284.0  2014   16
13639       A00  PRODUCT34   201417    237.0  2014   17
14444       A00  PRODUCT34   201418    180.0  2014   18
15828       A00  PRODUCT34   201419    161.0  2014   19
15458       A00  PRODUCT34   201420    140.0  2014   20
17079       A00  PRODUCT34   201421    116.0  2014   21
16966       A00  PRODUCT34   201422     98.0  2014   22
17838       A00  PRODUCT34   201423     83.0  2014   23
19465       A00  PRODUCT34   201424     71.0  2014   24
49427       A00  PRODUCT34   201425     65.0  2014   25
22468       A00  PRODUCT34   201426     60.0  2014   26
49145       A00  PRODUCT34   201427     82.0  2014   27
26940       A00  PRODUCT34   201428    151.0  2014   28
27839       A00  PRODUCT34   201429    274.0  2014   29
47552       A00  PRODUCT34   201430    532.0  2014   30
...         ...        ...      ...      ...   ...  ...
74307       A77  PRODUCT12   201623   5348.0  2016   23
65352       A77  PRODUCT12   201624   3275.0  2016   24
60503       A77  PRODUCT12   201625   4158.0  2016   25
101444      A77  PRODUCT12   201626   4815.0  2016   26
124470      A77  PRODUCT12   201627   3002.0  2016   27
103773      A77  PRODUCT12   201628   3319.0  2016   28
91996       A77  PRODUCT12   201629   4200.0  2016   29
122120      A77  PRODUCT12   201630   7120.0  2016   30
96744       A77  PRODUCT12   201631   6345.0  2016   31
101638      A77  PRODUCT12   201632   5863.0  2016   32
101440      A77  PRODUCT12   201633   4211.0  2016   33
124466      A77  PRODUCT12   201634   4019.0  2016   34
122700      A77  PRODUCT12   201635   3624.0  2016   35
108820      A77  PRODUCT12   201636   3742.0  2016   36
111700      A77  PRODUCT12   201637   3002.0  2016   37
118386      A77  PRODUCT12   201638   5583.0  2016   38
113557      A77  PRODUCT12   201639  14734.0  2016   39
118523      A77  PRODUCT12   201640   3603.0  2016   40
117573      A77  PRODUCT12   201641   4010.0  2016   41
121416      A77  PRODUCT12   201642   4292.0  2016   42
92761       A77  PRODUCT12   201643   5760.0  2016   43
108564      A77  PRODUCT12   201644   4109.0  2016   44
99443       A77  PRODUCT12   201645   4506.0  2016   45
99556       A77  PRODUCT12   201646   4255.0  2016   46
103153      A77  PRODUCT12   201647   3574.0  2016   47
102292      A77  PRODUCT12   201648   4152.0  2016   48
97525       A77  PRODUCT12   201649   5086.0  2016   49
102329      A77  PRODUCT12   201650   5846.0  2016   50
101211      A77  PRODUCT12   201651   4933.0  2016   51
92325       A77  PRODUCT12   201652   7551.0  2016   52

[124658 rows x 6 columns]

In [154]:
sameGroup = []
for i in range(52, 104):
    sameGroup += [i]
sameGroup

[52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103]

In [158]:
perMovingAverage = []

In [172]:
sortKey = ['REGIONID','PRODUCT','YEARWEEK']
sortedData = selloutData.sort_values(sortKey, inplace = False)
sortedData = sortedData.reset_index()
sortedData = sortedData[['REGIONID', 'PRODUCT', 'YEARWEEK', 'QTY', 'YEAR', 'WEEK']]
sortedData.head()

  REGIONID    PRODUCT YEARWEEK    QTY  YEAR WEEK
0      A00  PRODUCT34   201401  661.0  2014   01
1      A00  PRODUCT34   201402  679.0  2014   02
2      A00  PRODUCT34   201403  578.0  2014   03
3      A00  PRODUCT34   201404  532.0  2014   04
4      A00  PRODUCT34   201405  516.0  2014   05

In [173]:
i = 0
j = 0
for i in range(sameGroup[0], sameGroup[len(sameGroup)-1] + 1):
    perMovingAverage += list(sortedData['QTY'][[i]])
perMovingAverage

[4.0,
 5449.0,
 13394.0,
 119281.0,
 21350.0,
 6940.0,
 8022.0,
 3823.0,
 3697.0,
 0.0,
 100.0,
 3216.0,
 1748.0,
 -1.0,
 20184.0,
 1404.0,
 488.0,
 12.0,
 107.0,
 54.0,
 5496.0,
 168.0,
 885.0,
 923.0,
 335.0,
 1066.0,
 11.0,
 189.0,
 1728.0,
 2462.0,
 1012.0,
 1469.0,
 21588.0,
 610.0,
 226.0,
 122.0,
 1398.0,
 5838.0,
 151.0,
 383.0,
 69.0,
 1304.0,
 0.0,
 32110.0,
 920.0,
 0.0,
 4944.0,
 640.0,
 2307.0,
 12.0,
 63255.0,
 946.0,
 4.0,
 5449.0,
 13394.0,
 119281.0,
 21350.0,
 6940.0,
 8022.0,
 3823.0,
 3697.0,
 0.0,
 100.0,
 3216.0,
 1748.0,
 -1.0,
 20184.0,
 1404.0,
 488.0,
 12.0,
 107.0,
 54.0,
 5496.0,
 168.0,
 885.0,
 923.0,
 335.0,
 1066.0,
 11.0,
 189.0,
 1728.0,
 2462.0,
 1012.0,
 1469.0,
 21588.0,
 610.0,
 226.0,
 122.0,
 1398.0,
 5838.0,
 151.0,
 383.0,
 69.0,
 1304.0,
 0.0,
 32110.0,
 920.0,
 0.0,
 4944.0,
 640.0,
 2307.0,
 12.0,
 63255.0,
 946.0,
 151.0,
 191.0,
 107.0,
 154.0,
 69.0,
 66.0,
 60.0,
 52.0,
 42.0,
 59.0,
 82.0,
 55.0,
 26.0,
 66.0,
 34.0,
 34.0,
 49.0,
 37.0,
 39.0,
 62.0,
 86.0,
 104.0,
 85.0,
 81.0,
 43.0,
 33.0,
 38.0,
 27.0,
 24.0,
 24.0,
 32.0,
 30.0,
 77.0,
 99.0,
 122.0,
 187.0,
 190.0,
 206.0,
 114.0,
 108.0,
 133.0,
 125.0,
 112.0,
 94.0,
 120.0,
 64.0,
 54.0,
 40.0,
 45.0,
 49.0,
 45.0,
 479.0]

In [188]:
countA = 0
for i in range(0, len(sortedData) - 1):
        tempList1 = []
        tempList2 = []
        if (countA == 0):
            sameGroup = [i]
        for j in range(0, len(groupKey)):
            tempList1 += sortedData[groupKey[j]][i]
            tempList2 += sortedData[groupKey[j]][i + 1]
        if (tempList1 == tempList2):
            sameGroup += [i + 1]
            countA = 1
        else:
            countA = 0
len(sameGroup)

52