In [2]:
import datetime
import isoweek

In [3]:
# n = datetime.datetime.now()
# n.isocalendar()
n = datetime.datetime(2017, 11, 5)
n.isocalendar()

(2017, 44, 7)

In [11]:
datetime.datetime.strptime('201905-1', '%Y%W-%w').strftime("%m")

'02'

In [ ]:
datetime.

In [147]:
today = datetime.datetime(2015, 12, 6, 0, 0, 0, 0)

# 월요일을 가져온다.
last_monday = today - datetime.timedelta(days = today.weekday())
last_monday.isocalendar()

(2015, 49, 1)

In [251]:
a = [0, 1, 2, 3]
b = ["", "", "14", "" , "5", "afsfsa", "", "", "", "as"]
i = 0
for i in range(0, len(a)):
    for j in range(0, len(b)):
        if (i == 2):
            if (b[j] != ""):
                a[i] = str(b[j])
                del b[j]
                break
        else :
            if (b[j] == ""):
                a[i] = str(b[j])
                del b[j]
                break

In [252]:
a

['', '', '14', '']

In [253]:
b

['5', 'afsfsa', '', '', '', 'as']

In [1]:
def a(n):
    if (n == 1):
        return
    else:
        return None

In [5]:
a(1)

In [4]:
a = ""
float(a)

ValueError: could not convert string to float: