In [1]:
# DB연동 패키지 설치필요
# pip install cx_Oracle
# Oracle client 설치 필요 Toad 설치 후 tnsname 설정 후 재시작 필요

import pandas as pd
from sqlalchemy import create_engine

# DB 커넥션 열기
engine_Oracle = create_engine('oracle+cx_oracle://DJ2019:DJ2019@127.0.0.1:1522/xe') # ID : PW @ IP : PORT / SERVICE NAME

# DB 테이블을 읽어 Data Frame 변수에 저장하기
userData = pd.read_sql_query('SELECT * FROM BPS_USER', engine_Oracle)

In [2]:
userData

  name   key  balence
0  정형석  1234     1000
1  김동준  5678     1000

In [6]:
print("이름")
inputName = input()
print("키")
inputKey = input()
insertQuery = 'INSERT INTO BPS_USER(NAME, KEY, BALENCE) VALUES(' + "김동중" + ", " + "1232" + ", 0)"
pd.read_sql_query(insertQuery, engine_Oracle)

이름
1
키
1

DatabaseError: (cx_Oracle.DatabaseError) ORA-00984: column not allowed here [SQL: 'INSERT INTO BPS_USER(NAME, KEY, BALENCE) VALUES(김동중, 1232, 0)'] (Background on this error at: http://sqlalche.me/e/4xp6)

In [4]:
pd.read_sql_query('SELECT * FROM BPS_USER', engine_Oracle)

  name   key  balence
0  정형석  1234     1000
1  김동준  5678     1000

In [ ]:
# Oracle 데이터 저장 속도 향상방법
from sqlalchemy import types

# 데이터 저장
resultname = 'oracleresult_BPS_USER'

to_varchar = {c:types.VARCHAR(selloutData[c].str.len().max()) \
              for c in selloutData.columns[selloutData.dtypes == 'object'].tolist()}

selloutData.to_sql(resultname, engine_Oracle, if_exists = 'replace', index = False, dtype = to_varchar)

# 데이터 저장 Tip
# 오라클은 저장시 selloutData.dtypes를 확인하면 object 속성이 추후 clob 형태로 저장된다.
# 따라서 문자열형태로 변환을 한 후 저장시 더 빠른 속도를 낼 수 있다.

In [13]:
# cx_Oracle 패키지 모듈들을 import
import cx_Oracle as oci

# Oracle 서버와 연결(Connection 맺기)
conn = oci.connect('DJ2019/DJ2019@localhost:1522/xe')

# Connection 확인
print(conn.version)

# Oracle DB의 test_member 테이블 검색(select)
cursor = conn.cursor() # cursor 객체 얻어오기

print("이름")
inputName = input()
print("키")
inputKey = input()
sql_insert = 'INSERT INTO BPS_USERS VALUES(:NAME, :KEY, :BALENCE)'
cursor.execute(sql_insert, NAME=inputName, KEY=inputKey, BALENCE=0)
conn.commit()
cursor.execute('SELECT * FROM BPS_USERS') # SQL 문장 실행

print(cursor.fetchall())
# for rs in cursor:
#     print(rs)

cursor.close() # cursor 객체 닫기

# Oracle 서버와 연결 끊기
conn.close

11.2.0.2.0
이름
김통춘
키
174
[('김덩춘', '1234', 0), ('김덩춘', '1235', 0), ('김통춘', '174', 0), ('김덩춘', '1233', 0)]

In [21]:
# cx_Oracle 패키지 모듈들을 import
import cx_Oracle as oci
# Oracle 서버와 연결(Connection 맺기)
conn = oci.connect('DJ2019/DJ2019@192.168.110.3:1522/xe')

# Oracle DB의 test_member 테이블 검색(select)
cursor = conn.cursor() # cursor 객체 얻어오기
cursor.execute('SELECT * FROM BPS_USERS') # SQL 문장 실행

datadata = cursor.fetchall()
print(datadata)

cursor.close() # cursor 객체 닫기

# Oracle 서버와 연결 끊기
conn.close

[('김덩춘', '1234', 0), ('김덩춘', '1235', 0), ('김통춘', '174', 0), ('김동춤', '1335', 0), ('김덩춘', '1233', 0)]

In [28]:
conn.close

In [3]:
db_ip = '127.0.0.1'
db_port = '1522'
db_serviceName = 'xe'
db_id = 'DJ2019'
db_pw = 'DJ2019'

In [4]:
connectInfo = db_id + '/' + db_pw + '@' + db_ip + ':' + db_port + '/' + db_serviceName

In [5]:
connectInfo

'DJ2019/DJ2019@127.0.0.1:1522/xe'

In [15]:
datadata

[('김덩춘', '1234', 0),
 ('김덩춘', '1235', 0),
 ('김통춘', '174', 0),
 ('김동춤', '1335', 0),
 ('김덩춘', '1233', 0)]